<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=5,minimum-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}" />
    <title>Face Recognition</title>
</head>

<body>
    <div class="container">
        <div class="header">Register</div>

        <form action="{{ url_for('register_submit') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" required><br><br>
            <input type="text" name="firstname" placeholder="First name" required><br><br>
            <input type="text" name="lastname" placeholder="Last name" required><br><br>

            <input type="submit" value="Register">
        </form>
    </div>

</body>

</html>